*~
~*
*.pyc
docs/_build/*
uploads
dev.db
momsite.egg-info
django-startproject
momsite/momsite/static
*#
*.swp
*.log
node_modules
magnific-popup/src
.DS_Store
.#*
media
celerybeat-schedule
celerybeat.pid
__MACOSX
zibann_keypair.pem
local
*.pid
momsite/momsite/settings.py
momsite/supervisord.conf
.dir-locals.el
momsite.sock
.ropeproject
misc/backup
misc/report/openmarket/*
misc/report/social_commerce/*
momsdiary_page_style.css
custom-other.css
bin/
target/
gen/
# Xcode
.DS_Store
build/
build/*
!build/css/bootstrap-datetimepicker.css
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!littlehome.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
littlehome.keystore
local.properties
UserInterfaceState.xcuserstate

# Eclipse project files
.classpath
.project

# Android Studio
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
misc/ios/
*.iml

# custom-bootstrap.css
# custom-style.css
requirejs_build.txt
old
**/data/**/generated
.cache
.env
business
_.*
static_build/
./happypack
.watchmanconfig
momsite/android
momsite/ios
momsite/apps/littlehome/static/djangojs/init.js
momsite/app/android/app/src/main/assets/js-modules/*
*.pem
.tern-port
data
momsite/app/ios/Pods/
index.android.bundle
momsite/app/android/.settings/
momsite/app/src
momsite/app/android/app/release/.*